<div class="chart-container">
  <fusioncharts class="chart" width="100%" height="70%" type="Column2D" dataFormat="JSON" [dataSource]="dataSource"
    (initialized)="initialized($event)">
  </fusioncharts>
</div>
<div id="select-text">Choose a theme:</div>
<div style='display: flex; justify-content: space-evenly; flex-wrap: wrap;'>
  <a [ngClass]='(chart !== "column2d")? "blue darken-4 btn-small btn-placement btn-margin" : "btn disabled btn-small btn-placement btn-margin"'
    (click)='onSelectionChange("column2d")'>Column2d</a>
  <a [ngClass]='(chart !== "bar2d")? "blue darken-4 btn-small btn-placement btn-margin" : "btn disabled btn-small btn-placement btn-margin"'
    (click)='onSelectionChange("bar2d")'>Bar2d</a>
  <a [ngClass]='(chart !== "pie2d")? "blue darken-4 btn-small btn-placement btn-margin" : "btn disabled btn-small btn-placement btn-margin"'
    (click)='onSelectionChange("pie2d")'>Pie2d</a>
</div>
<a class="waves-effect waves-light btn-small btn-placement" (click)='onClickBack()'>Back</a>